.modal__content_type-image {
    padding: 0;
  }
  
  .modal__image {
    height: 100%;
    width: 100%;
  }
  
  .modal__caption {
      font-family: Cabinet Grotesk;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      margin: 20px 0 0 32px;
      grid-column: 1/2;
      grid-row: 1;
  }
  
  .modal__weather {
    font-family: "CabinetGrotesk-Medium";
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 20px 0px 32px 32px;
    grid-column: 1/2;
    grid-row: 2;
  }

  .modal__delete-button {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #ff4d00;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    grid-column: 2/3;
    grid-row: 1;
  }

  .modal__delete-button:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }

  .modal__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
  }