.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background-color: #0000004d ;
    display: flex;
    align-items: center;    
    visibility: hidden;
}

.modal_opened {
    visibility: visible;
}

.modal__content {
    max-width: 496px;
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    position: relative;
    padding: 28px 28px 36px;
}

.modal__title {
    margin: 0;
    font-family: Cabinet Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 28px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal__input {
    display: block;
    width: 100%;
    border-radius: 1px;
    border-top: #fff;
    border-right: #fff;
    border-left: #fff;
    border-bottom: 1px solid rgba(0, 0, 0);
    padding: 8px 0 0 0;
}

.modal__radio-btns {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    align-items: flex-start;
    margin: 0;
    color: #000000;
    accent-color: #000000;
}

.modal__label {
    margin: 0 0 24px 0;
}